# Environment variables
.env

# Node.js
node_modules/
.npm/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.installed.cfg
*.egg

# Rust
/target/

# IDE
.vscode/
.idea/

# ALB config files
aws_setup/forward-config.json
aws_setup/redirect-config.json
aws_setup/task_definitions/*.json
